body{
    direction: rtl;
    background: #853167;
}
header.header-1{
    background: #FFFFFF;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.18);
}
header.header-1 .lev-2row{
    background: #853167;
    display: flex;
    align-items: center;
}
header.header-1 .logo-ir{ 
width: 100%;
background: url(logo-v.png);
filter: drop-shadow(0px 3px 12px rgba(255, 255, 255, 0.09));
}
header.header-1 .box-search input{
    width: 90%;
    height: 40px;
    background: rgba(187, 187, 187, 0.1);
    border: 2px solid #853167;
    box-sizing: border-box;
    border-radius: 0px 30px 30px 0px;
}
header.header-1 .box-search button{
    width: 10%;
    height: 40px;
    background: #853167;
    box-shadow: 0px 10px 10px rgba(148, 175, 74, 0.25), inset -1px -2px 4px rgba(0, 0, 0, 0.16), inset 1px 2px 3px rgba(255, 255, 255, 0.25);
    border-radius: 30px 0px 0px 30px;
    border: none;
}
header.header-1 a.consul{
    width: 130px;
    height: 40px;
    background: #3FA925;
    /* shadow-green button */
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.23), 0px 10px 10px rgba(63, 169, 37, 0.28), inset 1px 2px 3px rgba(255, 255, 255, 0.4), inset 0px -2px 2px rgba(0, 0, 0, 0.13);
    border-radius: 60px;
    text-decoration: none;
    font-family: Tanha;
    font-size: 20px;
    padding: 10px 15px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
header.header-1 .sing-in{
    padding: 16px 13px;
    border-radius: 60px;
    background: #0088CC;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.34), 0px 10px 10px rgba(0, 136, 204, 0.28), inset 1px 2px 3px rgba(255, 255, 255, 0.28), inset -1px -2px 3px rgba(0, 0, 0, 0.28);
}
header.header-1 .lev-2row .nav-menu{
    width: 100%;
}
header.header-1 .lev-2row .nav-menu li{
    font-family: Tanha;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}



/*      style main> itm1 WEB DSIGN     */

.itm1{
    background: #fff url(image/bg-itm1.svg) no-repeat 100%;
    background-size: 101%;
    background-position: bottom;
    height: 730px;
}
.itm1 h1{
    font-family: Tanha;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 51px;
    text-align: right;
    color: #444444;
    margin-top: 31px;
    margin-right: 71px;
}
.itm1 p{
    font-family: Tanha;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #808080;
    margin-top: 50px;
    margin-right: 49px;
}

.itm1 h3{
    font-family: Tanha;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #6A6A6A;
    margin-top: 70px;
    margin-right: 29px;
}
.itm1 img{
    margin-top: 188px;
    margin-right: 50px;
}

.itm1-pic svg{
    margin-right: -51px;
}
.button-itm1{
    margin-top: 20px
}
.btn-xl-ete{
    background: rgba(0, 0, 0, 0.0);
    border: 2px dashed #D0D0D0 !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    font-family: Tanha;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.55);
    padding: 10px 33px;
    margin-right: 51px;
    margin-left: 58px;
    
}
.btn-xl-sef{
    background: rgba(0, 0, 0, 0.0);
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    font-family: Tanha;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.55);
    padding: 16px 25px;
}
.down-itm1{
    margin-top: 90px;
    margin-right: 260px;
}
.itm2{
    background: #fff url(image/bg-itm2.svg) top right;
    background-size: 100%;
    height: 491px;

}
.box-services{
    width: 249px;
    height: 284px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.97);
    border-radius: 30px;
    margin-top: 95px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.37);
    padding: 10px 0;
    margin-right: 50px;
}
.t-service{
    width: 249px;
    height: 33px;
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 29px;
    text-align: center;
    color: #515151;

}
.pa-service{
    width: 249px;
    height: 47px;
    font-family: Tanha;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #7A7A7A;
    margin-top: 7px;
}
.img-ser-grafic{
    width: 100%;
    height: 170px;
    /* background: url(image/grafic-design.svg) no-repeat center; */
}
.img-ser-codeweb{
    width: 100%;
    height: 170px;
    /* background: url(image/code-web.svg) no-repeat center; */

}
.img-ser-posh{
    width: 100%;
    height: 170px;
    /* background: url(image/support.svg) no-repeat center; */

}
.img-ser-robot{
    width: 100%;
    height: 170px;
    /* background: url(image/robot-telegram.svg) no-repeat center; */

}
.title-itm2{
    font-family: Tanha;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(255, 255, 255, 0.22), 0px 4px 4px rgba(0, 0, 0, 0.14);
    margin-right: 583px;
    margin-top: 25px
}

.for-constration{
    width: 1170px;
    height: 211px;
    background: url(image/title-const.svg) no-repeat 60% 55%;
    border: 3px solid #853167;
    box-sizing: border-box;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
    z-index: 5;
}
.for-constration h2{
    font-family: Tanha;
    margin-right: 28px;
    margin-top: 35px;
    font-size: 45px;
    line-height: 59px;
    color: #ffffff;
    text-shadow: 0px 2px 1px rgba(255, 255, 255, 0.22), 0px 4px 4px rgba(0, 0, 0, 0.14);
    transform: rotate(-6.62deg);
}
.itm3{
    background: #fff;
}
.item img{
    width: 100%;
}
.item{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
}
.itm4{
    background: #fff;
    display: flex;
    justify-content: center;
}
.carousel-item img{
    width: 100%;
}
.slider-ir{
    width: 1170px;
    margin: 20px 0;
    border-radius: 20px;
    overflow: hidden;
}
